*{
    box-sizing: border-box;
}
.clearfix{
    clear: both;
}
.hr{
    border-bottom: 1px solid #cccccc;
    margin: 5px auto;
}
lable{
    margin-bottom: 10px;
    display: block;
}
section{
    padding-top:20px;
    padding-bottom:20px;
}
.tags > span{
    background: #CEE0ED;
    padding: 5px;
    color: #1c67bc;
    margin: auto 2px;
    overflow: hidden;
    font-size:15px;
}
.switcher{
    display: inline-block;
    border: 0.5px solid #F5F5F5;
}
.switcher label{
    padding: 5px 10px 5px 0px;
    margin-bottom: 0;
}
.switcher input{
    padding-left: 5px;
}
.switcher > div {
    display: inline-block;
    border:1px solid transparent;
    border-right:1px solid #F5F5F5;
    margin: auto -2px ;
    padding: 5px;
}
.switcher > div input{
    position: relative;
    top: 3px;
}
.switcher > .active{
    background: #0095FF;
    border: 1px solid #0095FF;
    color: azure;
    box-shadow: 1px 1px 5px #C9CEB4;
    box-shadow: -1px -1px 5px #C9CEB4;
    border-radius: 3px;
}
.navbar{
    border-top: 3px solid #FF5D0D;
    max-height: 53px;
    margin-bottom: 0;
    overflow: hidden;
}
.navbar-default .navbar-form{
    margin-bottom: 0;
    margin-right: 50px;
}
.navbar-form{
    position: relative;
    border:1px solid #DDD;
    padding: 0;
    width:25%;
}
.navbar-form .form-search{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    padding: 0 30px;
}
.navbar-form input{
    border:0;
}
.navbar-form button{
    content: ' ';
    width:40px !important;
    opacity:0;
    position: absolute;
    left:0;
    border-radius: 0;
    background: #0095ff;
    color:white;
    box-shadow: inset 0 1px 0 #66bfff;
    border-color: #07c;

}
.navbar-form span{
    opacity: 1;
    position: absolute;
    right: 4%;
    top: 25%;
    font-size: 18px;
}
.navbar-my{
    list-style: none;
    margin-top: 15px;
}
.navbar-my li{
    float:left;
    margin-left: 10px;
}
.navbar-my li a{text-decoration: none;}
.navbar-my .signup
{
    background: #0095ff;
    box-shadow: inset 0 1px 0 #66bfff;
    color:white !important;
    padding: 6px;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 15px;

}
.profile_icons{
    list-style: none;
    margin: 0;
}
.profile_icons li{
    margin: 0 ;
    display:inline-block;
    margin-left: -4px;
}
.profile_icons li:hover{
    background: #DDD;
}
.profile_icons li:first-of-type:hover{
    background: none;
}
.profile_icons li button {
    border: none;
    background: none;
}
.profile_icons li button a {
    padding: 10px;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
}
.profile_icons li button a span{
    color: #656565;
    font-size: 18px;
}
.profile_icons .profile_img a{
    padding: 0;
}
.profile_icons .profile_img a img {
    width: 50px;
    margin: 0px auto 5px auto;
}
/*start register view*/
.register{
    background: -moz-linear-gradient(left,#0b3ff5,#117CF3);
    background: -webkit-linear-gradient(left,#0b3ff5,#117CF3);
    background: -o-linear-gradient(left,#0b3ff5,#117CF3);
    background: linear-gradient(left,#0b3ff5,#117CF3);
    padding-top:2%;
}
.register .form {
    padding:20px;
}
.register .form .form-group{
       margin-bottom: 10px;
}
.register .form .form-group label{
    width: 29%;
    height: auto;
    background: #ddd;
    padding: 9.5px 7px 7px 17px;
    transform: translate(-5px,0px);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:#6B5E7F;
    font-size: 12px;
    font-weight: inherit
}
.register .form .form-group input{
    width: 70%;
    height: auto;
    display: inline-block;
    border-radius:0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;

}
.register .form input[type='submit']{
    background: none;
    color: #FFF;
    padding: 8px 35px;
    font-weight: bolder;
    border: 1px solid #FFFFFF;
        border-right-color: rgb(255, 255, 255);
        border-bottom-color: rgb(255, 255, 255);
    border-bottom-color: seagreen;
    border-right-color: seagreen;
    transform: translate(-5px,0px);
    border-radius:2px;
}
.register .about{
    padding-top:20px;
    color:azure;
}
.r-footer{
    background: #0069D4;
    color:#FFFFFF;
    padding:15px 0px;
}
.r-footer label{
    margin:0;
}
.r-footer label a{
    color: #FFFFFF;
    font-weight: bolder;
}
/*start questions page */
.questions{
    height: auto;
}
.questions .q_header{
    border-bottom: 1px solid #DDD;
}
.questions .q_cats{
    list-style: none;
    display: inline-block;
    margin-left: 25%;
    margin-bottom: -1px;
}
.questions .q_cats li {
    display: inline-block;
    border:1px solid transparent;
    padding:10px;
}
.questions .q_cats li:hover{
    border:1px solid rgba(221, 221, 221, 0.3);
    background: rgba(221, 221, 221, 0.2);
}
.questions .q_cats .active,
.questions .q_cats .active:hover{
    border:1px solid #DDD;
    border-top: 2px solid #F48024;
    border-bottom: 1px solid #FFFFFF;
}
.questions .q_body .question{
    overflow: hidden;
}
.questions .q_body .question .q_stats{
    width:25%;
    cursor:pointer;
    float: right;
    min-height: 81.4px;
    padding-top: 3%;
}
.questions .q_body .question .q_stats > div{
    display: inline-block;
    text-align: center;
    padding: 0;
}
.questions .q_body .question .q_stats > div .mini_counts{
    text-align: center;
}
.questions .q_body .question .q_sammary{
    width: 75%;
    float: right;
}
.questions .q_body .question .q_sammary .q_tags span{
    background: #CEE0ED99;
    padding: 5px;
    color: #4B6C9F;
    margin: 5px;
}
.questions .q_body .question .q_sammary .title{
    text-decoration: none;
}
.questions .q_body .question .q_sammary .q_started{
    text-align: left;
}
.addQ {
    border: 1px solid #E4E4E4;
    padding: 5px 10px;
    text-decoration: none;
}
.preAsk .box {
    border:1px solid #DDD;
    padding: 15px;
}
.preAsk .box span{
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: inline-block;
    border-bottom: 1px solid #DDD;
    margin-top: 0;
}
.preAsk .box span:last-of-type{border-bottom: 0;}
/*start final ask questions*/
.ask_question .form-group{
    margin-bottom: 30px;
    overflow: hidden;
    padding-left: 3px;
}
.ask_question .form-group ._title {
    width: 10% ;
    float: right;

}
.ask_question .form-group .title {
    width: 80%;
    float:right;
}
.form-group input[type='submit']{
    background: #0077CC;
    box-shadow: inset 0 1px 0 #0069B4;
    color: white !important;
    padding: 7px 10px;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 15px;
    border: 1px solid #0077CC;
}
/*start login pgae*/
.login .login-form {
    border:1px solid #DDD;
    padding: 20px 15px;

}
.lofin label{
    font-weight: bolder !important;
}

/*start complate account*/
.complate_account {

}
.complate_account .form-group lable:last-of-type{
    display: inline-block
}
.complate_account .profile_box {
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    padding: 15px;
}
.complate_account .profile-img {
    border: 1px solid #DDD;
    text-align: center;
    margin-bottom: 10px;
}
.complate_account .profile-img img {
    width: 100%;
}
.complate_account .profile-img form{
    position: absolute;
    top: -100%;
}
.complate_account #profile_selecter {
    margin-right: 8px ;
}
/*start questio page*/
.view_question .question_header h2{
    display: inline-block;
}
.view_question .question_header .addQ {
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
}
.view_question .post{
    overflow: hidden;
}
.view_question .post .lead{
    overflow: hidden;
}
.view_question .about-asker {
    background: rgba(148, 201, 217, 0.9);
    padding: 10px;
    border-radius: 5px;
}
.view_question .about-asker .box {
    overflow: hidden;
    text-align: right;
}
.view_question .about-asker .box img {
    width: 50px;
    height: 50px;
}
.view_question .form-group #comment_box{
	position:relative;
}
.view_question .comment_loading{
	background:rgba(51, 57, 59, 0.13);
	position:absolute ;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index:100;
	cursor:progress;
	border-radius:10px;
/*	padding:5px;*/
}
.view_question .the_question{
	padding:50px 0px;
}
.view_question .the_question .post{
	font-size:20px;
}
/*start footer*/
footer{
    background: #080808;
    padding: 20px 0;
}
footer ul{
    list-style: none;
}
footer ul li {
    padding: 5px;
    color: azure;
}
footer ul .hr {
    font-size: 18px;
    font-weight: bolder;
}
footer ul li a{
    font-weight: bold;
}
footer .rights{
    text-align: center;
    color: azure;
}

.answer_box {
    border: 1px solid #DDD;
    background: rgba(148, 201, 217, 0.9);
    border-radius: 10px;
    padding: 5px;
    margin: 0;
    font-size: 13px;
    display: inline-block;
    position: absolute;
    bottom: 0;
}
.btn-loading{
	background: #92A1AD !important;
	box-shadow: inset 0 1px 0 #B5C2CC !important;
	border: 1px solid #A7AEB4 !important;
	cursor:help;
}
